<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <app-dataserve> </app-dataserve> -->
<!-- <app-form-main class="form-main"></app-form-main> -->
<mat-toolbar class="navbar">
  <div class="navbar-title">
    <mat-icon>person</mat-icon>
    <span style="margin-left: 10px">Employees Master</span>
  </div>

  <!-- <span class="example-spacer"></span> -->
  <div class="route-options">
    <a class="nav-link" routerLink="/create"> Create Employee Record </a>
    <a class="nav-link" routerLink="/employeesView"> Employees List</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
